@import "_variable";
@import "_mixin";

// /* Blog
// ================================================== */

/* Global */
.admin-bar {
    .navbar-sticky.sticky {
        margin-top: 30px;
    }
}

/* Image */

.alignright.size-thumbnail.wp-image-827 {
    margin-bottom: 40px;
    display: inline-block;
}

img,
figure {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

img[class*="wp-image-"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
}

.wp-caption {
    margin-bottom: 8px;
    max-width: 100%;
    border-radius: 0;
    padding: 0;
    clear: both;
    &.aligncenter {
        margin-bottom: 10px;
    }
    .wp-caption-text {
        text-align: center;
        margin-top: 4px;
        font-style: italic;
        margin-bottom: 30px;
    }
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.clearfix:after,
.clearfix {
    content: "";
    display: block;
    clear: both;
}

/*-- HTML Formate --*/

/* table */
table,
iframe {
    border: 1px solid #fbfbfb;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border-top: 1px solid #e7e7e7;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 10px 10px;
    border: 1px solid #ededed;
    text-align: center;
}

div#calendar_wrap {
    caption {
        margin: 0;
        padding: 8px;
        caption-side: top;
        text-align: center;
        background: $primary-color;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        padding: 0;
    }
}

.table-striped > tbody > tr:nth-child(odd),
table > tbody > tr:nth-child(odd) {
    border: 1px solid #e7e7e7;
}

dt {
    font-weight: bold;
    margin: 6px;
}


/* Gallery item */

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 50%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    max-width: 100%;
}

.gallery-item a img {
    display: block;
    -webkit-transition: -webkit-filter 0.2s ease-in;
    transition: -webkit-filter 0.2s ease-in;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}

.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

.gallery-size-thumbnail {
    .gallery-caption {
        display: inline-block;
        max-width: 200px;
        margin-top: 5px;
    }

    .gallery-item > div > a {
        display: inline-block;
    }
}

.wp-caption,
.gallery-caption {
    color: #666;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

@media screen and (min-width: 30em) {
    /* Gallery Columns */

    .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-1 .gallery-item {
        max-width: 100%;
    }

    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }

    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }

    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}

/* Theme check */

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    p{
        margin-bottom: 5px;
    }
}
.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border: none;
    border-radius: 1.55em;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125em;
    padding: .667em 1.333em;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    &:hover{
        color: #fff;
    }
}

figcaption{
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.gallery-caption,
.bypostauthor {
    display: block;
}

code {
    overflow: auto;
    max-width: 100%;
    padding: 0 1em;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}
a code {
    color: $primary-color;
}

p {
    margin: 0 0 25px;
}
p img.alignleft {
    clear: both;
    margin-bottom: 30px;
}

select {
    max-width: 100%;
}

.post-password-form {
    input[type="password"] {
        padding: 5px 15px;
        margin-left: 10px;
    }
    input[type="submit"] {
        background-color: $primary-color;
        border: none;
        padding: 7px 55px;
        color: #fff;
        cursor: pointer;
    }
}

.wp-block-cover-image.has-background-dim:not([class*=-background-color]),
.wp-block-cover.has-background-dim:not([class*=-background-color]),
.wp-block-cover{
    color: #fff;
}

blockquote, .wp-block-quote:not(.is-large), .wp-block-quote:not(.is-style-large) {
    padding: 20px;
    padding-left: 40px;
    border-left: 5px solid #E3335F;
    margin: 15px 0;
    background: $primary-color;
    position: relative;
    color: #fff;
    p{
        margin-bottom: 0px;
    }
}
.blog-single blockquote.wp-block-quote {
    background: $primary-color;
    text-align: center;
    color: #fff;
    padding: 20px;
}
blockquote.has-text-color.has-very-dark-gray-color {
    color: #fff;
}

/*============================
   post
=============================== */

.post,
article.page {
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    .single & {
        border-color: transparent;
    }
    .page &{
        border-color: transparent;
    }
    .postbox{
        border-radius: 5px;
    }
    .post-media {
        width: calc(100% - 0px);
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        img {
            @include border-radius(5px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .video-link-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            a {
                background: $primary-color;
                padding: 15px 20px;
                display: inline-block;
                color: #fff;
                font-size: 25px;
            }
        }
    }

    .post-title{
        font-size: 30px;
        margin: 10px 0;
        margin-top: 6px;
        transition: 0.2s;
        word-break: break-word;
        color: #313845;
    }
    p {
        margin-top: 0;
    }
    .post-desc{
        margin-bottom: 15px;
        text-align: left;
    }
    .link-more {
        a{
            color: #fff;
            background: #003478;
            padding: 10px 25px;
            font-weight: 700;
            font-size: 16px;
            border-radius: 5px;
            display: inline-block;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }
    }
    &.sticky{
        overflow: hidden;
        .sticky-badge {
            display: block;
            position: absolute;
            right: -37px;
            top: -4px;
            background: $primary-color;
            width: auto;
            height: auto;
            padding: 12px 45px;
            color: #fff;
            display: inline-block;
            transform: rotate(45deg);
            font-size: 12px;
            font-weight: 700;
            -webkit-transform: rotate(45deg);
            z-index: 1;           
        }
    }
}
// meta box 
.meta-box {
    display: inline-block;
    align-items: center;
    word-break: break-word;
    margin-bottom: 15px;
    span {
        font-size: 14px;
        color: #a2a6ad;
        text-transform: capitalize;
        font-weight: 400;
        &:not(:first-child){
            margin-left: 10px;
        }
        i{
            vertical-align: middle;
            font-size: 12px;
            line-height: .8;
            margin-right: 5px;
        }
    }
}

.search article.page {
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.xs-page-header {
    margin-bottom: 30px;
}

.post-inline.media {
    .post-media {
        margin-right: 15px;
    }
}

/* Single Post */
.single-post {
    .post .entry-header {
        .post-meta {
            margin: 25px 0 15px;
        }
    }
}

/*=========================== ===========
         sidebar
========================================*/
.sidebar {
    .widget {
        margin-bottom: 40px;
        border: 1px solid #eee;
        padding: 40px;
        border-radius: 3px;
        .widget-title {
            font-size: 18px;
            font-weight: 800;
            position: relative;
            margin: 0 0 30px;
            padding: 0 0 15px;
            letter-spacing: -0.54px;
            text-transform: uppercase;
            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                bottom: 0px;
                width: 30px;
                height: 3px;
                left: 0;
                z-index: 1;
                background: $primary-color;
            }
        }
        .entry-title {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: -0.54px;
        }
        .media-body {
            margin-left: 25px;
        }
        //Widget search
        &.widget_search {
            padding: 0;
            border: 0;
            .instive-serach {
                padding: 0;
                background: transparent;
                height: auto;
                .form-control {
                    font-style: italic;
                    border-radius: 0;
                    font-size: 14px;
                    padding: 13px 30px;
                    border: 1px solid #ededed;
                    border-radius: 5px 0 0 5px;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color: $primary-color;
                    }
                }
                .input-group-btn {
                    background: $primary-color;
                    color: $white-color;
                    padding: 0 20px;
                    cursor: pointer;
                    border: none;
                    right: 0;
                    left: auto !important;
                    top: 0;
                    border-radius: 0 5px 5px 0px;
                }
            }
        } //widget search end
        &.widget-tags {
            ul {
                li {
                    display: inline-block;
                    margin-bottom: 8px;
                    margin-right: 4px;
                    a {
                        display: block;
                        padding: 5px 20px;
                        border: 1px solid #eee;
                        color: #666;
                        transition: all 0.3s;
                        &:hover {
                            background: $primary-color;
                            color: #fff;
                            transition: all ease 500ms;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        } //Widget Tags
    } //widget end

    ul {
        border: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: 1px dashed #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            a {
                color: $primary-color;
                &:hover {
                    color: $primary-color;
                }
                &.url,
                &.rsswidget {
                    color: $title-color;
                }
                &.rsswidget {
                    font-weight: 600;
                }
            }
            cite {
                font-style: normal;
            }
        } //li end
    } //sidebar ul end
    //Sidebar submenu
    ul.sub-menu,
    ul.children {
        padding: 10px 0px 0 20px;
    }
    ul.children {
        padding-bottom: 0;
    }
    
} //sidebar end

// service hour
.service-time {
    li {
        span {
            &:last-child {
                float: right;
            }
        }
    }
}

// recent post widget
.recent-post-widget {
    .widget-post {
        padding: 20px 0;
        border-bottom: 1px dashed #eeeeee;
        &:first-of-type {
            padding-top: 0;
        }
        &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
        }
        img {
            width: 110px;
            height: 80px;
            border-radius: 5px;
        }
    }
}
//  tag list
.tag-lists a,
.tagcloud a {
    border: 1px solid #f1f1f1;
    color: #003478;
    display: inline-block;
    font-size: 14px !important;
    padding: 4px 13px;
    margin-left: 3px;
    margin-bottom: 10px;
    &:hover {
        color: $primary-color;
    }
}
// textwidget
.textwidget img {
    margin: 10px 0;
}

// page-links
.page-links {
    .page-link {
        display: inline-block;
        &:hover {
            background: none;
        }
    }
}

a.post-page-numbers {
    display: inline-block;
    &:hover {
        color: #fff;
        background: $primary-color;
        .page-link {
            color: #fff !important;
            margin: 0 !important;
        }
    }
}

/*=======================================
 Post  Comments section
 ========================================*/
.blog-post-comment {
    .comment-title {
        font-size: 24px;
    }
    .comment-info [class*="col-md-"] {
        margin-bottom: 15px;
        position: inherit;
    }
    .comment-content > h3 {
        margin-bottom: 0.5rem;
    }

    .comment-respond {
        margin-bottom: 40px;
        margin-top: 40px;
        .comment-reply-title {
            font-size: 24px;
        }
        .comment-form {
            .form-control {
                border-radius: 0;
                height: 45px;
                margin-bottom: 15px;
                &.msg-box {
                    height: 245px;
                }
                &:focus {
                    box-shadow: none;
                    border-color: $primary-color;
                }
            }
            .comment-form-cookies-consent {
                display: none;
            }
            .comment-notes {
                font-style: italic;
            }
            .btn.btn-primary {
                margin-top: 40px;
            }
        } //comments form
    } //Comment respond
    .comments-list {
        .trackback {
            .comment-body {
                margin-left: 0;
            }
        }
    }
}

.loginformuser {
    .form-control {
        height: 100%;
        resize: none;
        &:focus {
            box-shadow: none;
            border-color: $primary-color;
        }
    }
}

/* Common */
.pingback p,
.pingback .says {
    display: none;
}
.comments-list .pingback .comment-body {
    margin-left: 0;
}

.comments-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    .comment {
        list-style: none;
        .last {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .comment-author {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
        font-size: 18px;
        color: #003478;
        text-transform: uppercase;
        font-style: normal;
        a {
            color: #003478;
            &:hover {
                color: $primary-color;
            }
        }
        cite {
            font-style: normal;
        }
    }
    .comment-date {
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }
    .comment-content {
        margin: 15px 0;
    }
    .comment-body {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 20px;
        margin-bottom: 30px;
        margin-left: 110px;
    }
    img.comment-avatar {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-right: 30px;
    }

    .comment-reply-link {
        color: #252a37;
        font-weight: 400;
        font-size: 14px;
        i {
            margin-right: 5px;
        }
        &:hover {
            color: $primary-color;
        }
    } //reply lin end
} //Comments link

.comments-counter {
    font-size: 18px;
    a {
        color: #666;
    }
}

.comments-reply {
    list-style: none;
    margin: 0 0 0 70px;
}

#cancel-comment-reply-link {
    float: right;
    color: #000;
    &:hover {
        color: $primary-color;
    }
}

// /*-- Page Not Found --*/

.not-found {
    h1 {
        margin-bottom: 20px;
    }
    .input-group-btn {
        background: $primary-color;
        color: $white-color;
        padding: 0 20px;
        border: none;
        cursor: pointer;
        i {
            line-height: 48px;
        }
    }
    .form-control:focus {
        box-shadow: none;
        border-color: $primary-color;
    }
    p {
        line-height: 1.1;
        margin-bottom: 25px;
        small {
            display: block;
        }
    }
}
article.page {
    .post-meta {
        margin-bottom: 15px;
    }
}

/*===========================
         author box
=============================*/
.author-box {
    padding: 40px 40px 20px;
    margin-bottom: 40px;
    min-height: 135px;
    background: #f0f4f9;
    .author-img {
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    .author-info {
        margin-left: 90px;
        > h3 {
            margin-bottom: 4px;
            font-size: 18px;
        }
    }
    .author-url {
        margin-bottom: 12px;
        a {
            color: #666666;
            font-size: 14px;
        }
    }
} //Author Box

/*=============================
   pagination nav
 =============================*/

.post-navigation {
    padding: 25px;
    border: 1px solid #eeeeee;
    margin-bottom: 40px;
    .post-previous,
    .post-next {
        padding: 0 40px;
        width: 50%;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        display: table-cell;
        position: relative;
        vertical-align: middle;
    } //Previous/Next end

    span,
    h3 {
        &:hover {
            color: $primary-color;
        }
    }
    h3 {
        font-size: 17px;
        line-height: 26px;
        margin: 5px 0;
        font-weight: bold;
        ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    span {
        color: #525252;
    }
    i {
        margin: 0 5px;
        color: #525252;
    }
    .post-previous {
        text-align: left;
        float: left;
        border-left: 0 none;
        border-right: 0 none;
        padding: 0 40px 0 0;
    } //Previous end

    .post-next {
        text-align: right;
        float: right;
        border-right: 0 none;
        padding: 0 0 0 40px;
    } //Next end
} //Post navigation end

/*==============================
 pagination
 ============================*/

.pagination {
    margin: 0;
    display: flex;
    justify-content: center;
    li {
        a,
        span {
            margin-right: 8px;
            width: 40px;
            height: 40px;
            line-height: normal;
            border: 1px solid #dadada;
            text-align: center;
            display: inline-block;
            color: #666;
            border-radius: 3px;
            i {
                line-height: 40px;
            }
        }
        &.active,
        &:hover {
            a {
                color: #fff;
                background: $primary-color;
                border: 1px solid transparent;
                &:hover {
                    background: $primary-color;
                }
            } //a end
        } //active hover end
        &.pagination-dots {
            margin: 0 15px 0 10px;
        }
    } //li end
} //Pagination end

.entry-content {
    .page-links {
        color: #10100e;
        margin-left: 5px;
        overflow: hidden;
        width: 100%;
        margin-top: 50px;
        span {
            display: inline-block;
            &.page-link {
                color: #10100e;
            }
        }
        .page-link-text {
            margin-right: 10px;
        }

        .post-page-numbers.current {
            margin-right: 5px;
        }
    } //Page links end
}

/*=======================
   blog details
 ========================*/
.blog-single {
    .post {
        .post-media {
            margin-bottom: 30px;
        }
        .post-body {
            background: #fff;
            border: 0;
            padding: 0;
        }
    }
}

/*-- Review --*/

.header ul.navbar-nav li .dropdown-menu {
    margin: 0;
}

.header ul.navbar-nav > li > a {
    font-size: 13px;
    margin-left: 8px;
}

.header ul.navbar-nav {
    margin-right: 0;
}

//   unitest
body.blog,
body.single-post,
body.page,
body.search.search-results {
    color: #525252;

    .sidebar ul li a,
    .tag-lists a,
    .tagcloud a {
        &:hover {
            color: $primary-color;
        }
    }

    .sidebar .ts-social-list li a:hover {
        color: #fff;
    }

    .sidebar .ts-social-list li a {
        border: 1px solid #d6d6d6;
    }
}

.post .post-body,
article.page .post-body {
    border: 1px solid #eee;
    padding: 40px;
    border-radius: 3px;
}

.post.has-post-thumbnail {
    .post-media.post-image {
        margin-bottom: -2px;
    }
}

// sidebar select widget

.sidebar .widget select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #596172;
    border-color: #ebebeb;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    padding: 0 30px;
    border-radius: 0 !important;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-color: #fff;
}

/* Sidebar latest post */
.sidebar .widget .entry-title {
    font-size: 14px;
}

/* Single Post all */

.tag-lists span {
    margin-right: 10px;
}
