
$open-sans: 'Open Sans',sans-serif;
$rubik: 'Rubik',sans-serif;



$white-color: #fff;
$primary-color: #003478;
$primary-dark: #193656;
$secondary-color: #00449e;
$secondary-light: #f0f4f9;
$blue-bg: #120f4e;
$primary-blue: navyblue;
$title-color: #193656;
$testimonial-color: $title-color;
$gray-color: #a9a9a9;
$gray-light: #666;
$black-color: #101010;
$gray-fourty-color: #666666;
$alice-blue-bg: #edf5f8;
